---
---

@import "{{ site.theme }}";

// Theorem-like
.theorem {
	display: block;
	margin: 12px 0;
	font-style: italic;
}
.theorem::before {
	content: "Theorem. ";
	font-weight: bold;
	font-style: normal;
}
.theorem[text]::before {
	content: attr(text);
}

.proposition {
	display: block;
	margin: 12px 0;
	font-style: italic;
}
.proposition::before {
	content: "Proposition. ";
	font-weight: bold;
	font-style: normal;
}
.proposition[text]::before {
	content: attr(text);
}

.lemma {
	display: block;
	margin: 12px 0;
	font-style: italic;
}
.lemma::before {
	content: "Lemma. ";
	font-weight: bold;
	font-style: normal;
}
.theorem[text]::before {
	content: attr(text);
}

.conjecture {
	display: block;
	margin: 12px 0;
	font-style: italic;
}
.conjecture::before {
	content: "Conjecture. ";
	font-weight: bold;
	font-style: normal;
}
.conjecture[text]::before {
	content: attr(text);
}

// Definition-like
.definition {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.definition::before {
	content: "Definition. ";
	font-weight: bold;
	font-style: normal;
}
.definition[text]::before {
	content: attr(text);
}

.remark {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.remark::before {
	content: "Remark. ";
	font-weight: bold;
	font-style: normal;
}
.remark[text]::before {
	content: attr(text);
}

.example {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.example::before {
	content: "Example. ";
	font-weight: bold;
	font-style: normal;
}
.example[text]::before {
	content: attr(text);
}

.exercise {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.exercise::before {
	content: "Exercise. ";
	font-weight: bold;
	font-style: normal;
}
.exercise[text]::before {
	content: attr(text);
}

// Proof-like
.proof {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.proof::before {
	content: "Proof. ";
	font-style: italic;
}
.proof[text]::before {
	content: attr(text);
}
.proof::after {
	content: "\25FC";
}
