---
---

@import "{{ site.theme }}";

#main_content {
    width: 60%;
}

#main_content.inner {
    max-width: unset;
}

// Theorem-like
.theorem {
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: rgba(0,0,255,.2);
    padding: 5px;
    border: 2px solid;
}
.theorem::before {
	content: "Theorem. ";
	font-weight: bold;
	font-style: normal;
}
.theorem[text]::before {
	content: "Theorem (" attr(text) "). ";
}

.proposition {
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: rgba(0,0,255,.2);
    padding: 5px;
    border: 2px solid;
}
.proposition::before {
	content: "Proposition. ";
	font-weight: bold;
	font-style: normal;
}
.proposition[text]::before {
	content: "Proposition (" attr(text) "). ";
}

.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: rgba(0,0,255,.2);
    padding: 5px;
    border: 2px solid;
}
.lemma::before {
	content: "Lemma. ";
	font-weight: bold;
	font-style: normal;
}
.lemma[text]::before {
	content: "Lemma (" attr(text) "). ";
}

.conjecture {
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: rgba(0,0,255,.2);
    padding: 5px;
    border: 2px solid;
}
.conjecture::before {
	content: "Conjecture. ";
	font-weight: bold;
	font-style: normal;
}
.conjecture[text]::before {
	content: "Conjecture (" attr(text) "). ";
}

// Definition-like
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
    background-color: rgba(0,255,0,.2);
    padding: 5px;
    border: 2px solid;
}
.definition::before {
	content: "Definition. ";
	font-weight: bold;
	font-style: normal;
}
.definition[text]::before {
	content: "Definition (" attr(text) "). ";
}

.remark {
    display: block;
    margin: 12px 0;
    font-style: normal;
    background-color: rgba(0,0,0,.1);
    padding: 5px;
    border: 2px solid;
}
.remark::before {
	content: "Remark. ";
	font-weight: bold;
	font-style: normal;
}
.remark[text]::before {
	content: "Remark (" attr(text) "). ";
}

.example {
    display: block;
    margin: 12px 0;
    font-style: normal;
    background-color: rgba(0,0,0,.1);
    padding: 5px;
    border: 2px solid;
}
.example::before {
	content: "Example. ";
	font-weight: bold;
	font-style: normal;
}
.example[text]::before {
	content: "Example (" attr(text) "). ";
}

.exercise {
    display: block;
    margin: 12px 0;
    font-style: normal;
    background-color: rgba(255,0,0,.2);
    padding: 5px;
    border: 2px solid;
}
.exercise::before {
	content: "Exercise. ";
	font-weight: bold;
	font-style: normal;
}
.exercise[text]::before {
	content: "Exercise (" attr(text) "). ";
}

// Proof-like
.proof {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.proof::before {
	content: "Proof. ";
	font-style: italic;
}
.proof[text]::before {
	content: "Proof (" attr(text) "). ";
}
.proof::after {
	content: "\25FC";
}

.solution {
	display: block;
	margin: 12px 0;
	font-style: normal;
}
.solution::before {
	content: "Solution. ";
	font-style: italic;
}
.solution[text]::before {
	content: "Solution (" attr(text) "). ";
}
.solution::after {
	content: "\25FC";
}
