---
---

@import "{{ site.theme }}";

// Theorem-like
.theorem {
	display: block;
	margin: 12px 0;
	font-style: italic;
	content: "Theorem."
}
.theorem:before {
	counter-increment: theorem;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.proposition {
	display: block;
	margin: 12px 0;
	font-style: italic;
	content: "Proposition."
}
.proposition:before {
	counter-increment: proposition;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.lemma {
	display: block;
	margin: 12px 0;
	font-style: italic;
	content: "Lemma." 
}
.lemma:before {
	counter-increment: lemma;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.conjecture {
	display: block;
	margin: 12px 0;
	font-style: italic;
	content: "Conjecture."
}
.conjecture:before {
	counter-increment: conjecture;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

// Definition-like
.definition {
	display: block;
	margin: 12px 0;
	font-style: normal;
	content: "Definition."
}
.definition:before {
	counter-increment: definition;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.remark {
	display: block;
	margin: 12px 0;
	font-style: normal;
	content: "Remark."
}
.remark:before {
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.example {
	display: block;
	margin: 12px 0;
	font-style: normal;
	content: "Example."
}
.example:before {
	counter-increment: example;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

.exercise {
	display: block;
	margin: 12px 0;
	font-style: normal;
	content: "Exercise."
}
.exercise:before {
	counter-increment: exercise;
	content: inherit
	font-weight: bold;
	font-style: normal;
}

// Proof-like
.proof {
	display: block;
	margin: 12px 0;
	font-style: normal;
	content: "Proof."
}
.proof:before {
	content: inherit
	font-style: italic;
}
.proof:after {
	content: "\25FC";
}
